@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor1preto: #00000f ;
    --cor2branco: #fbffff;
    --cor3azulmarinho: #002a54 ;
    --cor4azulceu: #8aa8ff ;
    --cor5vermelho: #a71914 ;
}

body{
    background-color: var(--cor3branco);
    margin: 0 auto;
     font-family: 'Inter', sans-serif;
    color: #fbffff;
    max-width: 1120px;
    width: 100%;
    
}

header{
    width: 100%;
    height: 130px;
    background-image: linear-gradient(rgba(0, 0, 15, 0.39), rgb(0, 0, 15)), url("../img/fundopt2.jpg");
    background-size:cover ;
    background-position: center;
}

 img.otis{
        width: 250px;
        margin-top:-15px ;
        margin-left: 30px;


    }
     
  nav{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 25px;
    left: 350px;
    margin: auto;
}

    nav a{
        color: #fbffff;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 17px;
        margin: auto;
    }

    article{
        background-color: #E9EFF6;
        width: 1120px;
        height: 240px;
        color: black;
        padding: 20px;
        line-height: 50px;
        box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.228);

    }
    article h3{
        margin: 20px 0px 5px 70px;
        font-size: 15px;
        color: #FF5E5E;
    }
    article h1{
        margin: 0px 0px 18px 40px;
        font-size: 45px;
        color: #010714;
    }
    article p{
        
        line-height: 1.5;
        margin: 5px 600px 10px 40px;
        font-size: 15px;
        color: grey;
    }
    
    main{
        color: black;
    }
     .h3{
        margin: 90px 0px 15px 110px;
        font-size: 13px;
        color: #FF5E5E;
    }
    main h2{
        margin: 0px 0px 18px 65px;
        font-size: 35px;
        color: #010714;
        font-weight: 600;
    }
    .p{
        line-height: 1.2;
        margin: -65px 0px 10px 750px;
        font-size: 14px;
        color: grey;
    }

    .categoria-card{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        margin-bottom: 90px;
        margin-top: 50px;

    }
    .card-categoria{
    width: 300px;
    height: 330px;
    border: 1.3px solid rgb(183, 183, 183);
    background-color: white;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.018);
    margin-bottom: 0px;
   
}

    .card-categoria img{
    width: 300px;
    height: 180px;
    object-fit: cover;
    display: block;
}

.card-categoria h3{
    padding: 20px 0px 12px 45px;
    font-size: 16px;
    font-weight: 600;
}
.card-categoria p{
    font-size: 12px;
    padding: 0px 0px 15px 25px;
    color: rgb(105, 104, 104);
} 
.card-categoria a{
    text-decoration: none;
    background-color: #F53535;
    color: white;
    padding: 6px 0px;
    display: inline-block;
    margin-left: 25px;
    width: 180px;
    font-size: 13px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.21);
    font-weight: 500;
    
}



    footer{
        background-color: #002a54;
        padding: 15px 5px 20px 5px;
        
    }

    footer h2{
       margin-left: 10px;
       padding: 20px 10px 20px 10px;
    }

    footer a{
        text-decoration: none;
        color: #fbffff;
       margin: 10px 0px 10px 10px;
        
    }


    footer hr{
        background-color: #95a3b0;
        height: 2px;
        width: 1120px;  
        margin-left: -5px;
        margin-top: 20px;
        
    }


    footer h3{
        margin-left: 400px;
        color: #da4444;
    }
    footer p{
        font-size: 14px;
        color: #ebf5ff;
        margin-left: 10px;
        margin-top: 15px;
    }
    @media (min-width: 1400px) {
        
    nav {
        left: 720px;
        gap: 18px;
    }

}


