@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor1preto: #00000f ;
    --cor2branco: #fbffff;
    --cor3azulmarinho: #002a54 ;
    --cor4azulceu: #8aa8ff ;
    --cor5vermelho: #a71914 ;
}

body{
    background-color: var(--cor3branco);
    margin: 0 auto;
     font-family: 'Inter', sans-serif;
    color: #000000;
    max-width: 1120px;
    width: 100%;
    
}

header{
    width: 100%;
    height: 130px;
    background-image: linear-gradient(rgba(0, 0, 15, 0.39), rgb(0, 0, 15)), url("../img/fundopt2.jpg");
    background-size:cover ;
    background-position: center;
}

 img.otis{
        width: 250px;
        margin-top:-15px ;
        margin-left: 30px;


    }
     
  nav{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 25px;
    left: 350px;
    margin: auto;
}

    nav a{
        color: #fbffff;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 17px;
        margin: auto;
    }

    .inicio{
        padding: 50px;
        background-color: #EBF5FF;
        border-bottom: 1px solid rgba(128, 128, 128, 0.089);
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.158);
    }
    .inicio h3{
        color: #F53535;
        font-size: 15px;
        margin-bottom: 15px;
        margin-left: 0px;
    }
    .inicio span{
        margin-right: 10px;
    }
    .inicio h2{
        font-size: 45px;
        line-height: 1.1;
        color: #172131;
        margin-bottom: 10px;
    }
    .inicio p{
        color: grey;
        font-size: 14px;
        line-height: 1.6;
        text-align: justify;
        margin-bottom: 15px;
        margin-right: 500px;
    }
    main{
        padding: 50px;
    }
    .h3{
        color: #F53535;
        font-size: 15px;
        margin-bottom: 15px;
        margin-left: 0px;
    }
    main span{
        margin-right: 10px;
    }
    main h2{
        font-size: 35px;
        line-height: 1.1;
        color: #172131;
        margin-bottom: 10px;
        margin-right: 600px;
    }
    .mensagem{
        margin: 30px 0px 30px 0px;
        width: 40%;
    }
    .mensagem h3{
        font-size: 15px;
    }
    .mensagem input{
        width: 200px;
        height: px;
    }
    .linha{
    display: flex;
    gap: 15px;
    width: 450px;
    
}

.linha div{
    width: 50%;
}

.linha input{
    width: 100%;
    height: 35px;
    background-color: #EBF5FF;
    border-radius: 5px;
    border: 0.3px solid #BCBCBC;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 10px;
}
.linha h3{
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 14px;

}
.linha-maior{
    
    width: 450px;
}
.linha-maior textarea{
    width: 100%;
    height: 150px;
    background-color: #EBF5FF;
    border-radius: 5px;
    border: 0.3px solid #BCBCBC;
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 10px;   
}
.linha-maior textarea::placeholder {
    font-weight: lighter;  
    color: rgba(128, 128, 128, 0.443);    
}

.mensagem button{
    background-color: #F53535;
    padding: 10px;
    border: none;
    color: white;
    width: 150px;
    border-radius: 5px;
    box-shadow: 1px 4px 3px rgba(0, 0, 0, 0.267);
}

    


    footer{
        background-color: #002a54;
        padding: 15px 5px 20px 5px;
        
    }

    footer h2{
       margin-left: 10px;
       padding: 20px 10px 20px 10px;
       color: #ffffff;
    }

    footer a{
        text-decoration: none;
        color: #fbffff;
       margin: 10px 0px 10px 10px;
        
    }


    footer hr{
        background-color: #95a3b0;
        height: 2px;
        width: 1120px;  
        margin-left: -5px;
        margin-top: 20px;
        
    }


    footer h3{
        margin-left: 400px;
        color: #da4444;
    }
    footer p{
        font-size: 14px;
        color: #ebf5ff;
        margin-left: 10px;
        margin-top: 15px;
    }
    @media (min-width: 1400px) {
        
    nav {
        left: 720px;
        gap: 18px;
    }

}


