@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor1preto: #00000f ;
    --cor2branco: #fbffff;
    --cor3azulmarinho: #002a54 ;
    --cor4azulceu: #8aa8ff ;
    --cor5vermelho: #a71914 ;
}

body{
    background-color: var(--cor3branco);
    margin: 0 auto;
     font-family: 'Inter', sans-serif;
    color: #000000;
    max-width: 1120px;
    width: 100%;
    
}

header{
    width: 100%;
    height: 130px;
    background-image: linear-gradient(rgba(0, 0, 15, 0.39), rgb(0, 0, 15)), url("../img/fundopt2.jpg");
    background-size:cover ;
    background-position: center;
}

 img.otis{
        width: 250px;
        margin-top:-15px ;
        margin-left: 30px;


    }
     
  nav{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 25px;
    left: 350px;
    margin: auto;
}

    nav a{
        color: #fbffff;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 17px;
        margin: auto;
    }

   section{
    padding: 60px;
    

   }
    section h3{
        color: #FF5E5E;
        font-size: 15px;
        margin-bottom: 15px;
        margin-left: 40px;
    }
    section h2{
        font-size: 45px;
        line-height: 1.1;
    }
    .vermelho{
        color: #FF5E5E;
    }
    .solucoes{
        font-size: 22px;
        margin: 10px 0px 10px 5px;
        font-weight: 800;
    }
    section p{
        color: grey;
        font-size: 14px;
        line-height: 1.6;
        text-align: justify;
        margin-bottom: 15px;
        margin-right: 600px;
    }

    section a{
        display: inline-block;
        background-color: #FF5E5E;
        color: white;
        padding: 10px;
        text-decoration: none;
        margin: 0px 06x 60px 15px;
        border-radius: 8px;
        width: 250px;
        text-align: center;

    }

    .imagem-um{
       float: right;
       width: 400px;
       height: 380px;
       object-fit: cover;
       margin-right: 50px;
       
    }

    .OT{
        background-color: #da4444;
        width: 100px;
        height: 40px;
        color: white;
        margin-left: 500px;
        position: absolute;
        bottom: 40px;
        padding: 10px;
    }
    .OT h1{
        font-size: 14px;
    }
    .OT hr{
        border: none;
        height: 50px;
        border-left: 2px solid rgb(255, 255, 255);
        width: 0;
        margin: 0 20px;
        display: inline-block;
        vertical-align: middle;
    }
    .OT p{
        font-size: 10px;
    }
    


    


    footer{
        background-color: #002a54;
        padding: 15px 5px 20px 5px;
        
    }

    footer h2{
       margin-left: 10px;
       padding: 20px 10px 20px 10px;
    }

    footer a{
        text-decoration: none;
        color: #fbffff;
       margin: 10px 0px 10px 10px;
        
    }


    footer hr{
        background-color: #95a3b0;
        height: 2px;
        width: 1120px;  
        margin-left: -5px;
        margin-top: 20px;
        
    }


    footer h3{
        margin-left: 400px;
        color: #da4444;
    }
    footer p{
        font-size: 14px;
        color: #ebf5ff;
        margin-left: 10px;
        margin-top: 15px;
    }
    @media (min-width: 1400px) {
        
    nav {
        left: 720px;
        gap: 18px;
    }

}


