@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --cor1preto: #00000f ;
    --cor2branco: #fbffff;
    --cor3azulmarinho: #002a54 ;
    --cor4azulceu: #8aa8ff ;
    --cor5vermelho: #a71914 ;
}

body{
    background-color: var(--cor3branco);
    margin: 0 auto;
     font-family: 'Inter', sans-serif;
    color: #000000;
    max-width: 1120px;
    width: 100%;
    
}

header{
    width: 100%;
    height: 130px;
    background-image: linear-gradient(rgba(0, 0, 15, 0.39), rgb(0, 0, 15)), url("../img/fundopt2.jpg");
    background-size:cover ;
    background-position: center;
}

 img.otis{
        width: 250px;
        margin-top:-15px ;
        margin-left: 30px;


    }
     
  nav{
    display: flex;
    gap: 20px;
    position: absolute;
    top: 25px;
    left: 350px;
    margin: auto;
}

    nav a{
        color: #fbffff;
        text-decoration: none;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 17px;
        margin: auto;
    }

   section{
    padding: 60px;
    

   }
    section h3{
        color: #F53535;
        font-size: 15px;
        margin-bottom: 15px;
        margin-left: 0px;
    }
    section h2{
        font-size: 45px;
        line-height: 1.1;
        color: #172131;
    }
    .vermelhoh2{
        color: #F53535;
        font-size: 45px;
        
    }
    .solucoes{
        font-size: 22px;
        margin: 10px 0px 10px 5px;
        font-weight: 800;
    }
    section p{
        color: grey;
        font-size: 14px;
        line-height: 1.6;
        text-align: justify;
        margin-bottom: 15px;
        margin-right: 600px;
    }

    section a{
        display: inline-block;
        background-color: #F53535;
        color: white;
        padding: 10px;
        text-decoration: none;
        margin: 0px 06x 60px 15px;
        border-radius: 8px;
        width: 250px;
        text-align: center;

    }

    .imagem-um{
       float: right;
       width: 400px;
       height: 380px;
       object-fit: cover;
       margin-right: 50px;
       
    }

    .OT{
    background-color: #F53535;
    width: 110px;
    height: 50px;
    color: white;
    margin-left: 500px;
    position: absolute;
    top: 490px;
    padding: 8px;
    display: flex;
    align-items: center;
}

.OT h1{
    font-size: 18px;
    margin: 0;
    font-weight: 900;
}

.OT hr{
    border: none;
    border-left: 1px solid white;
    height: 30px;
    margin: 0 7px;
}

.OT p{
    margin: 0;
    color: white;
    font-size: 7.2px;
    line-height: 1.2;
   
  
}
    
    main{
        background-color: #E9EFF6;
        padding: 45px 20px 20px 50px;
        margin-top: 80px;
       
    }
    .h3{
        color: #FF5E5E;
        font-size: 14px;
        margin-bottom: 12px;
        margin-left: 30px;
        font-weight: 600;
    }
    .span{
        padding: 15px
    }
    main h2{
        font-size: 25px;
        color: #172131;
        margin-left: 40px;
       
    }
    .vermelho{
       font-size: 25px;
        color: #FF1010; 
        margin-left: 40px;
       
    }

    .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 30px;
        margin-bottom: 40px;
        
    }
    .card-main{
    width: 240px;
    height: 180px;
    border: 1px solid rgb(213, 213, 213);
    background-color: #E9EFF6;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.018);
    margin-bottom: 0px;
    padding: 20px;
   
    }
    .p{
        line-height: 1.5;
        margin: -50px 60px 10px 700px;
        font-size: 12px;
        color: grey;
    }
    .card-main h4{
        color: #FF1010; 
        font-size: 14px;
    }
    .card-main p{
        font-size: 12px;
        color: rgb(105, 105, 105);
        margin: 0px 0px 5px 8px;
        text-align: justify;

    }
    .card-main h3{
        margin: 15px 0px 5px 8px;
    }

    .section-fim h3{
        color: #FF5E5E;
        font-size: 14px;
        margin-bottom: 12px;
        margin-left: 30px;
        font-weight: 600;
    }
    .span{
        padding: 15px
    }
    .section-fim{
        margin-bottom: 50px;
        margin-top: 20px;
    }
    .section-fim h2{
        font-size: 35px;
        color: black;
        margin-left: 40px;
        margin-right: 500px;
        margin-bottom: 15px;
       
    }
    .section-fim p{
        font-size: 13px;
        color: rgb(105, 105, 105);
        margin: 0px 600px 35px 40px;
        text-align: justify;
        

    }

    .lista{
        margin-left: 600px;
        margin-top: -190px;
        padding: 0;
        list-style: none;
        width: 300px;
    }

    .lista li{
        border-top: 1px solid #d0d0d0;
        padding: 10px 0px 10px 35px;
        font-size: 12px;
        color: black;
        position: relative;
    }

    .lista li:last-child{
        border-bottom: 1px solid #d0d0d0;
    }
    .lista li::before{
        content: "✓";
        position: absolute;
        left: 5px;
        top: 8px;background-color: #dff3ff;
        color: #3498db;
        width: 20px;
        text-align: center;
        line-height: 20px;
    }
    



    


    footer{
        background-color: #002a54;
        padding: 15px 5px 20px 5px;
        
    }

    footer h2{
       margin-left: 10px;
       padding: 20px 10px 20px 10px;
       color: #ffffff;
    }

    footer a{
        text-decoration: none;
        color: #fbffff;
       margin: 10px 0px 10px 10px;
        
    }


    footer hr{
        background-color: #95a3b0;
        height: 2px;
        width: 1120px;  
        margin-left: -5px;
        margin-top: 20px;
        
    }


    footer h3{
        margin-left: 400px;
        color: #da4444;
    }
    footer p{
        font-size: 14px;
        color: #ebf5ff;
        margin-left: 10px;
        margin-top: 15px;
    }
    @media (min-width: 1400px) {
        
    nav {
        left: 720px;
        gap: 18px;
    }

}


